.main  {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 194, 255, 0.742);
    border: 1px solid gray;
}
.main h1 {
    display: flex;
    font-size: 22px;
    color: rgb(114, 111, 111);
    justify-content: center;
    padding-bottom: 10px;

}